@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body,html {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

header {
    position: absolute;
    padding: 12px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.267);
    z-index: 2;
}
header>div {
    max-width: 1000px;
    margin: auto;
}
header .navbar-collapse {
    justify-content: flex-end;
}

.section-intro {
    background-image: url('./images/files.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 180px 20px;
    color: white;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 600px;
    font-family: 'Open Sans';
    line-height: 1.4;
    letter-spacing: 1px;
}
.section-intro:after{
    position:absolute;
    z-index:-1;
    width:100%;
    height: 100%;
    display:block;
    left:0;
    top:0;
    content:"";
    background:rgba(44,45,51,.9);
    background:linear-gradient(rgba(44,45,51,0.9),rgba(44,45,51,0.9));
    background:-moz-linear-gradient(rgba(44,45,51,0.9),rgba(44,45,51,0.9));
    background:-webkit-linear-gradient(rgba(44,45,51,0.9),rgba(44,45,51,0.9));
}
.section-intro>div {
    max-width: 900px;
    margin: auto;
}


.section-floatingbox {
    display: flex;
    align-items: center;
    padding: 25px;
}
@media(max-width: 1000px){
    .section-floatingbox{
        padding: 10px;
    }
}
.floating-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -85px;
    padding: 100px 0px;
    text-align: center;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    border-radius: 5px;
    z-index: 3;
    background-color: white;
}
@media(max-width: 600px){
    .floating-box{
        padding: 50px 5px;
    }
}
.section-benefits {
    max-width: 1500px;
    margin: auto;
}
.section-imageback {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)),url('./images/bridge.jpg');
    background-size: cover;
    position: relative;
    padding: 80px 20px;
    text-align: center;
    color: white;
    font-family: "Roboto";
}
.section-contact {
    padding: 50px 20px;
    text-align: justify;
}
.contact-content {
    max-width: 500px;
    margin: auto;
    margin-top: 40px;
}
.section-about {
    padding: 50px 0px;
    margin: auto;
    max-width: 1000px;
}
.section-features {
    color: white !important;
    background: linear-gradient(45deg, rgb(47, 122, 100), rgb(60, 151, 144), rgb(13, 212, 146));
    box-shadow: 0px 0px 5px 2px silver;
}
.features {
    padding: 20px 0px;
}
.feature-container {
    margin-bottom: 20px;
}
.feature img {
    background-color: white;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    margin-bottom: 5px;
}
.section-features h3 {color: white;}
.section-footer {
    padding: 100px 10px;
    background-color: rgb(26, 30, 32);
    color: white;
    box-shadow: 0px 0px 4px 4px silver;
}
.section-footer .row {
    max-width: 1000px;
    margin: auto;
}
.bottom-strip {
    font-style: "Open Sans";
    padding: 5px;
    text-align: center;
    background-color: rgb(27, 27, 27);
    color: rgb(78, 76, 76);
    font-size: 0.8rem;
}