h1{font-family: 'Roboto'; font-weight: 900;}
h2{font-family: 'Roboto'; font-weight: 900;}
h3{font-family: 'Roboto'; font-weight: 900; letter-spacing: 0.7px;}
h6{font-weight: 400;}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.section-default {
    width: 100%;
    font-family: "Open Sans";
}
.section-full {
    min-height: 100%;
}

.btn-custom {
    border-radius: 2px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 0.6rem 2.5rem;
    font-family: "Roboto";
}

.section-heading{
    font-family: "Roboto";
    padding: 20px 0px;
    color: rgb(56, 55, 55);
}
.divider {
    background-color: #e0e0e0;
    height: 1px;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.section-content {
    padding: 30px;
}

.card-container {
    padding: 30px 40px;
    transition: 0.4s;
}
.card {
    border: none;
    padding: 30px 10px;
}
.card-img img {
    height: 100px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px silver;
}
.card-heading {
    padding: 10px;
    font-size: 1.4rem;
}
.card-content {
    font-size: 0.9rem;
    color: rgb(97, 96, 96);
}
@media(max-width: 1200px){
    .card-container{
        padding: 30px 10px;
    }
    .section-content {
        padding: 30px 10px;
    }
}
@media(max-width: 576px){
    .card-container{
        padding: 0px;
    }
}
.half-container {
    padding: 30px 20px;
}
.half-heading {
    font-family: 'Roboto';
    text-align: center;
    margin-bottom: 30px;
}
.half-heading h4 {
    font-weight: 600;
}
.half-content {
    max-width: 600px;
    margin: auto;
}

