h1{font-family: 'Roboto'; font-weight: 900;}
h2{font-family: 'Roboto'; font-weight: 900;}
h3{font-family: 'Roboto'; font-weight: 900; letter-spacing: 0.7px;}
h6{font-weight: 400;}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.section-default {
    width: 100%;
    font-family: "Open Sans";
}
.section-full {
    min-height: 100%;
}
.navbar a {
    color: black !important;
    transition: 0.3s;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.navbar a:hover {
    color: red !important;
}
.navbar img {
    height: 120px;
}
@media (max-width: 1025px){
    .navbar img {
        height: 80px;
    }
}

.btn-custom {
    border-radius: 2px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 0.6rem 2.5rem;
    font-family: "Roboto";
    transition: 0.3s;
}
.btn-custom:hover {
    transform: scale(1.15);
}

.section-heading{
    font-family: "Roboto";
    padding: 20px 0px;
    color: rgb(56, 55, 55);
}
.divider {
    background-color: #e42020;
    height: 1px;
    width: 60%;
    margin: auto;
    overflow: hidden;
}
.section-content {
    padding: 30px;
}

.card-container {
    padding: 30px 40px;
    transition: 0.4s;
}
.card {
    border: none;
    padding: 30px 10px;
    border: 1px solid transparent;
    transition: 0.3s;
    border-radius: 0px;
}
.card:hover {
    
    background-color: rgb(255, 248, 248);
    border-radius: 7px;
    box-shadow: 0px 4px 10px -3px rgb(207, 196, 196);
    transform: translateY(-5px);
}
.card-img img {
    height: 100px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px silver;
}
.card-heading {
    padding: 10px;
    font-size: 1.4rem;
}
.card-content {
    font-size: 0.9rem;
    color: rgb(97, 96, 96);
}
@media(max-width: 1200px){
    .card-container{
        padding: 30px 10px;
    }
    .section-content {
        padding: 30px 10px;
    }
}
@media(max-width: 576px){
    .card-container{
        padding: 0px;
    }
}
.plan {
    font-family: 'Lato' ;
    background: #7b4397;
    background: linear-gradient(60deg, #ef5350, #d32f2f);
    color: white;
    border-radius: 6px;
    transition: 0.3s;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
    margin-bottom: 40px;
}
.plan:hover {
    transform: scale(1.01);
    box-shadow: 0 16px 38px -5px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
@media (max-width: 760px){
    .plan{
        font-size: 0.9rem;
    }
}

.plan-div {
    padding: 11px 5px;
    margin: 0px 50px;
    border-bottom: 1px solid rgb(227, 227, 228);
}
.plan-head{
    padding: 20px 5px;
    font-family: 'Roboto';
}
.plan-price {
    font-size: 2.7rem;
}
.plan-button {
    padding: 15px 5px 25px 5px;
}
.plan-last {
    border: none;
}
.half-container {
    padding: 30px 20px;
}
.half-heading {
    font-family: 'Roboto';
    text-align: center;
    margin-bottom: 30px;
}
.half-heading h4 {
    font-weight: 600;
}
.half-content {
    max-width: 600px;
    margin: auto;
}
.carousel {
    height: 100%;
}
.carousel-inner {
    height: 100%;
}
.carousel-item{
    height: 100%;
    text-align: center;
}
.carousel-item img {
    height: 100%;
    width: 100%;
}
.footer-heading {
    font-family: 'Poppins';
    margin-bottom: 30px;
}
.footer-item{
    color: rgb(135, 137, 138);
    padding: 10px;
    border-bottom: 1px solid rgb(109, 107, 107);
    transition: 0.2s;
    margin-bottom: 10px;
}
.footer-half {
    padding: 20px 40px;
}
.footer-content a:hover {
    text-decoration: none;
}
.footer-item:hover {
    color: rgb(206, 204, 204);
    border-bottom: 1px solid white;
}
.btn-white {
    background-color: white;
    color: rgb(18, 78, 156);
    border-radius: 100px;
    padding: 10px 20px;
    font-size: 0.8rem;
    border: 1px solid transparent;
    transition: 0.3s;
}
.btn-white:hover {
    border: 1px solid rgb(114, 27, 25);
}

